@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all .5s ease;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: linear-gradient(to bottom right,rgba(79,57,176,1),rgb(226, 23, 233));
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items:center;
}

.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
}

#display{
    margin: 0 10px;
    height: 120px;
    width: auto;
    max-width: 270px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 40px;
    color:black;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}
button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 22px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover{
    transform: scale(1.15);
    background-color:blueviolet;
}

button#equal{
    height: 130px;
}

/* .calculator{
    background:white;
} */

.calculator #display{
    background-color:rgb(130, 126, 126);
}

.calculator button#clear{
    background-color:tomato;
}

.calculator button.btn-op{
    background-color: rgb(124, 255, 255);
}

.calculator button#equal{
    background-color: rgb(239, 230, 63);
}